/* Sass part of the scss file */

$primary: #235c3e;
$secondary: #f5b453;
$alert: #ff0000;


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $primary;
  height: 75px;
  padding: 20px;
  color: $secondary;
}



ul {
  margin-right: 42%;
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
} 

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}